/* ------------ iran sans ----------------- */
@font-face {
  font-family: "iran-sans";
  src: url("/src/assets/fonts/iran-sans-fa-num-ultra-light.ttf");
  font-weight: 300;
  font-display: fallback;
}
@font-face {
  font-family: "iran-sans";
  src: url("/src/assets/fonts/iran-sans-fa-num-light.ttf");
  font-weight: 400;
  font-display: fallback;
}
@font-face {
  font-family: "iran-sans";
  src: url("/src/assets/fonts/iran-sans-fa-num-medium.ttf");
  font-weight: 500;
  font-display: fallback;
}
@font-face {
  font-family: "iran-sans";
  src: url("/src/assets/fonts/iran-sans-fa-num-bold.ttf");
  font-weight: 700;
  font-display: fallback;
}
@font-face {
  font-family: "iran-sans";
  src: url("/src/assets/fonts/iran-sans-fa-num-black.ttf");
  font-weight: 800;
  font-display: fallback;
}


/* ------------ iran sans ----------------- */
@font-face {
  font-family: "iran-sans-mobile";
  src: url("/src/assets/fonts/iran-sans-mobile-fa-num-ultra-light.ttf");
  font-weight: 300;
  font-display: fallback;
}
@font-face {
  font-family: "iran-sans-mobile";
  src: url("/src/assets/fonts/iran-sans-mobile-fa-num-light.ttf");
  font-weight: 400;
  font-display: fallback;
}
@font-face {
  font-family: "iran-sans-mobile";
  src: url("/src/assets/fonts/iran-sans-mobile-fa-num-medium.ttf");
  font-weight: 500;
  font-display: fallback;
}
@font-face {
  font-family: "iran-sans-mobile";
  src: url("/src/assets/fonts/iran-sans-mobile-fa-num-bold.ttf");
  font-weight: 700;
  font-display: fallback;
}
@font-face {
  font-family: "iran-sans-mobile";
  src: url("/src/assets/fonts/iran-sans-mobile-fa-num-black.ttf");
  font-weight: 800;
  font-display: fallback;
}


.rmdp-container {
  width: 100%;
}

.custom-calendar.rmdp-wrapper,
.rmdp-container .custom-calendar.ep-arrow::after {
  background-color: #ffffff;
}

.rmdp-container .custom-calendar.ep-arrow[direction="bottom"] {
  border-top: 1px solid bisque;
}

.rmdp-container .custom-calendar.ep-arrow[direction="top"] {
  border-bottom: 1px solid bisque;
}
.custom-calendar .rmdp-week-day {
  font-size: 10px;
  line-height: 16px;
  color: #545c61;
}
.custom-calendar.rmdp-shadow {
  box-shadow: 0 0 10px rgba(94, 129, 233, 0.2);
}
.custom-calendar .rmdp-day-picker .rmdp-day {

  color: #727cf4;
  line-height: 19px;
  font-size: 12px;
}
.custom-calendar
  .rmdp-top-class
  .rmdp-calendar
  .rmdp-header
  .rmdp-arrow-container
  .rmdp-arrow {
  border-color: #500fe9;
}

/*--------- Scrollbar ---------*/
::-webkit-scrollbar {
  width: 10px;

}
/* Track */
::-webkit-scrollbar-track {
  border-radius: 3px;
  margin: 10px 0;
  padding-right: 10px;
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #c5c5c5;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b6b4b4;
}

/*--------- Animation ---------*/
@-moz-keyframes spin {
  100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform:rotate(360deg);
  }
}

@keyframes pulse-scale {
  100% {
    -webkit-transform: scale(1.1);
    transform:scale(1.1)
  }
}
